

<table id="tbListadoProgramacionIda" class="table table-striped">
	<thead>
		<tr>
			<th>Seleccionar</th>
			<th>Salida</th>
			<th>Asientos</th>
			<th>Precio</th>
			<th></th>
		</tr>

	</thead>
	<tbody>
		<tr>
			<td>
				<input type="radio" id="radio1" name="radio1" value="">
			</td>
			<td>04:00 pm</td>
			<td>
				<p style="margin-bottom: 2px;">
					<span class="label">
						<span >PISO 1: SOFA CAMA 160° (11 Libres)</span>
					</span>
				</P>
				<p style="margin-bottom: 2px;">
					<span class="label">
						<span >PISO 2: SOFA CAMA 140° (43 Libres)</span>
					</span>
				</P>

			</td>			
			<td>
				<p style="margin-bottom: 2px;">
					<span class="label">
						<span >Minimo: S/. 105.00</span>
					</span>
				</P>
				<p style="margin-bottom: 2px;">
					<span class="label">
						<span >Maximo: S/. 150.00</span>
					</span>
				</P>
	

		</tr>

	</tbody>

</table>




